<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="icon" type="image/icon" href="favicon.ico" />
    <script src="https://map.qq.com/api/gljs?v=1.exp&key=TR5BZ-6UY64-Z66UV-DUU4Q-2HNOZ-LCFES"></script>
    <!-- 定位API -->
    <script src="https://mapapi.qq.com/web/mapComponents/geoLocation/v/geolocation.min.js"></script>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
